/* Global */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
    background: azure;
    font-family: 'Playfair Display', serif;
}

/* Typography */
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 4em;
}

h2 {
    font-size: 2em;
}